@media (max-width: 1350px) {
  .add_task_main_content {
    padding-left: 50px;
  }

  .urgent_btn_default,
  .medium_btn_default,
  .low_btn_default {
    font-size: 16px;
  }

  .urgent_btn_filled,
  .medium_btn_filled,
  .low_btn_filled {
    font-size: 16px;
  }

  .add_task_form_container {
    gap: 0;
  }

  .user_name_assignee_circle,
  .dropdown_item,
  .subtask_text {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .add_task_form_container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .formfield_left,
  .formfield_right {
    width: 100%;
    max-width: 700px;
  }

  .vertical_line {
    display: none;
  }

  .add_task_main_content {
    padding-left: 30px;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .required_mobile {
    display: block;
  }

  .required_desktop {
    display: none;
  }

  .add_task_bottom_area {
    gap: 15px;
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .nav_main_content {
    width: 100%;
    margin-bottom: 80px;
  }

  .add_task_main_content {
    padding: 20px;
    margin-bottom: 0;
    width: 96%;
  }

  .add_task_main_content h1 {
    margin-top: 30px;
  }

  .formfield_left_wrapper,
  .add_task_input,
  .add_task_description,
  .dropdown {
    width: 100% !important;
    box-sizing: border-box;
  }

  .add_task_description {
    height: 80px;
  }

  .priority_options {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .priority_options button {
    padding: 8px 5px;
    font-size: 16px;
    flex: 1;
  }

  .styled_input {
    font-size: 16px;
  }

  .styled_input::placeholder {
    font-size: 16px;
    padding-left: 4px;
  }

  .styled_input_description {
    font-size: 16px;
  }

  .styled_input_description::placeholder {
    font-size: 16px;
    padding-left: 4px;
  }
}

@media (max-width: 460px) {
  .create_task_btn {
    font-size: 15px;
    padding: 4px 14px;
  }

  .clear_btn {
    font-size: 15px;
    padding: 4px 14px;
  }
}

@media (max-width: 460px) {
  .priority_options {
    gap: 0;
  }

  .priority_options button {
    white-space: nowrap;
  }
}
