/* SIGNUP HEADER */

.signup_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 111px;
  width: 516px;
}

.arrow_icon {
  width: 32px;
  height: 32px;
}

/* MAIN CONTENT */

.signup_main_content {
  max-width: 598px;
  width: 100%;
  height: 630px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.sign_up_main {
  padding-top: 0;
}

/* SIGNUP FORM */

.signup_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

/* SIGNUP CHECKBOX */

.checkbox_text {
  color: #a8a8a8;
}

.checkbox_link {
  color: #29abe2;
}

.auth_btn:disabled {
  background-color: #999;
  cursor: not-allowed;
  color: #eee;
}

/* CUSTOM CHECKBOX STYLING */

.checkbox_row {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox_row input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("../assets/img/checkbox_unchecked.svg");
}

.checkbox_row input[type="checkbox"]:checked {
  background-image: url("../assets/img/checkbox_checked.svg");
}

.checkbox_row input[type="checkbox"]:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

/* MOBILE */

@media (max-width: 700px) {
  .signup_header {
    gap: 22px;
    width: 280px;
  }

  .signup_main_content {
    max-width: 396px;
    height: 587px;
  }

  .signup_footer {
    margin-top: 0;
    padding-top: 0;
  }
}
